NEXT_PUBLIC_SUPABASE_URL=https://knyjshsbexabpoyhqbcq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtueWpzaHNiZXhhYnBveWhxYmNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwOTU5MjcsImV4cCI6MjEwNDY3MTkyN30.pp3UWgpc4J6Aix6uZI9Ul6lvklVB-nLlMq1RK3EJIcM
